.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.2px solid grey;
}

.nav img {
  cursor: pointer;
}

.nav h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
}

.nav ul {
  display: none;
  gap: 0 1.5rem;
  list-style: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.8;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #5614b8;
}

@media screen and (min-width: 800px) {
  .nav ul {
    display: flex;
  }

  .nav img {
    display: none;
  }
}
